{% extends "layout.html" %}
{% block content%}
<div id="home_page" class="container">
    <h1 class="title" style="font-weight: bold">TrotiNet</h1>
</div>
<div class="main_menu">
    <div class="container align-content-center">
        <div class="row m-3">
            <a href="{{ url_for('login')}}" class="btn btn-light button_purple rounded-3 text-center"> Rent Scooter(s)</a>
        </div>
        <div class="row m-3">
            <a class="text-center a_link" href="">Join group trip</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include "footer.html" without context%}
{% endblock %}