{% extends "layout.html" %}
{% block content%}
<div id="home_page" class="container">
    <h1 class="title" style="font-weight: bold">TrotiNet</h1>
    <div class="main_menu">
        <div class="container align-content-center">
            <div class="row m-3">
                <button id="login_button" class="button_purple" onclick="window.location.href='login'">Rent scooter(s)</button>
            </div>
            <div class="row m-3">
                <a class="text-center" href="">Join group trip</a>
            </div>
        </div>
    </div>
</div>

        
{% endblock content %}