{% extends "layout2.html" %}
{% block content%}
<div id="home_page" class="container">
    <h1 class="title" style="font-weight: bold">TrotiNet</h1>
</div>
<!-- <div class="container align-content-center">
    <div class="row">
        <h2 class="title">About</h2>
        <p class="text">TrotiNet is a web application that allows users to share their travel experiences with others. Users can create posts about their trips and share them with other users. Users can also view other users' posts and comment on them. Users can also view other users' profiles and follow them. Users can also view their own profile and see their own posts and followers. Users can also edit their own profile and change their username, email, and password. Users can also delete their own posts and comments. Users can also delete their own account. Users can also search for other users and posts. Users can also view the most recent posts on the home page. Users can also view the most popular posts on the popula
        </p>
    </div>
    <div class="row">
        <h2 class="title">Features</h2> -->
        
{% endblock content %}