{% extends "layout1.html" %}


{% block content%}
<div class="container">
    <h1 class="title">Login</h1>
</div>
<div class="w-75 float-sm-start position-absolute top-50 start-50 translate-middle border rounded-2 d-flex">
    <form method="POST" action="" class="m-4">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.email.label(class="form-control-label")}}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>
                    {{ error }}
                </span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-lg ")}}
            {% endif %}
        </div>
        {{ form.password.label(class="form-control-label")}}
        <div class="mb-3 input-group toggle_password">
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid")}}
            <span class="input-group-text">
                <i class="fa fa-eye" id="show_eye"></i>
                <i class="fa fa-eye-slash d-none" id="hide_eye"></i>
            </span>
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>
                    {{ error }}
                </span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg")}}
            <span class="input-group-text">
                <i class="fa fa-eye" id="show_eye"></i>
                <i class="fa fa-eye-slash d-none" id="hide_eye"></i>
            </span>
            {% endif %}
        </div>
        <div class="mb-3 ">
            {{ form.remember(class="form-check-input")}}
            {{ form.remember.label(class="form-check-label")}}
        </div>

        <div class="form-group mb-3">
            {{ form.submit(class="button_purple") }}
        </div>
        <div class="border-top pt-2">
            <small class="text-muted">
                Need An Account? <a class="ml-2 " href="{{ url_for('register')}}"> Sign Up Now </a>
            </small>
        </div>
    </form>
</div>
{% endblock content %}