{% extends "layout.html" %}
{% block content%}

<div class="container mt-4">
    <div class="row text-center">
        <div class="col-6 my-1">
            <h2>Book a Scooter</h2>
        </div>
        <div class="col-6 d-flex justify-content-end ">

        </div>
    </div>
</div>

<div class="">
    <div id="map_book" class="map">
    </div>
    <div id="popup_group" class="main_menu book_popup">
        <div class="container align-content-center">
            <div class="row my-3 mx-2">
                <div class="col">
                    <input type="date" value="2022-05-25" class="form-control">
                </div>
                <div class="col">
                    <input type="time" value="03:04" class="form-control">
                </div>
            </div>
            <div class="row m-3">
                <a href="{{url_for('checkout')}}"class="btn btn-light button_purple text-center">Checkout</a>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block footer %}
{% include "footer.html" without context%}
{% endblock %}