html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}

footer {
    flex-shrink: 0;
    background-color: rgb(238, 238, 238);
}

button {
    background-color: #5D3EA8;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.password_input_group {
    width: 42%;
}



#start_page {
    background-image: url('../img/start_page.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

#start_page #title {
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#start_page #login_button {
    position: absolute;
    color: white;
    bottom:10%;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

